.home-container{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;

  align-items: center;
  justify-content: center;
}

.home-container .content{
  width: 100%;
  background: #f0f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  margin-top: 5px;
}





