.container{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr ;
  grid-template-rows: 8vh 87vh 5vh;
  grid-template-areas: 
  "l h h h "
  "a p p p "
  "a f f f ";
}

.logo{
  grid-area: l;
  display: flex;
  background:#02735F;
  justify-content: center;
  align-items: center;
}

.logo button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
}

.logo button img{
  height: 8vh; 
}

.header{
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #04BF9D;
}

.aside{
  grid-area: a;
  background:#333333;
}

.main{
  grid-area: p;
  background: violet;
}

.main h1{

}

.footer{
  grid-area: f;
  background: red;
  
}

.footer h1{
  display: flex;
  align-items: center;
  justify-content: center;

}

